<a href="https://colab.research.google.com/github/s-ajaykumar/Data_Scraping_Projects/blob/main/TopRevenueGeneratingCompanies2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [6]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue")
soup = BeautifulSoup(page.text, 'html')

In [130]:
table = soup.find('table', class_ ="wikitable sortable sticky-header-multi sort-under")

In [8]:
headers_html = table.find_all('th', scope = 'col')
print(headers_html)

[<th rowspan="2" scope="col">Rank
</th>, <th rowspan="2" scope="col">Name
</th>, <th rowspan="2" scope="col">Industry
</th>, <th scope="col">Revenue
</th>, <th scope="col">Profit
</th>, <th rowspan="2" scope="col">Employees
</th>, <th rowspan="2" scope="col">Headquarters<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[note 1]</a></sup>
</th>, <th rowspan="2" scope="col"><a href="/wiki/State-owned_enterprise" title="State-owned enterprise">State-owned</a>
</th>, <th class="unsortable" rowspan="2" scope="col"><abbr title="Reference(s)">Ref.</abbr>
</th>, <th rowspan="2" scope="col">Revenue per worker
</th>, <th colspan="2" scope="col"><small>USD millions</small>
</th>, <th scope="col">1
</th>]

In [56]:
headers_old = [x.text.strip() for x in headers_html[1:]]
print(headers_old[:-2])

['Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.', 'Revenue per worker']

In [57]:
df = pd.DataFrame(columns = headers_old[:-2])
df

Empty DataFrame
Columns: [Name, Industry, Revenue, Profit, Employees, Headquarters[note 1], State-owned, Ref., Revenue per worker]
Index: []

In [108]:
# Experiment
ranks = []
for i in range(1, 51):
  ranks.append(i)
ranks

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [84]:
rows = table.find_all('tr')
for row in rows[2:]:
    row_values_toprint = [x.text.strip() for x in row.find_all('td')]
    print(row_values_toprint)

['Walmart', 'Retail', '$611,289', '$11,680', '2,100,000', 'United States', '', '[1]', '$291,090.00']
['Saudi Aramco', 'Oil and gas', '$603,651', '$159,069', '70,496', 'Saudi Arabia', '', '[4]', '$8,562,911.37']
['Amazon', 'Retail', '$574,785', '$30,425', '1,525,000', 'United States', '', '[5]', '$376,908.20']
['State Grid Corporation of China', 'Electricity', '$530,009', '$8,192', '870,287', 'China', '', '[6]', '$609,004.85']
['Vitol', 'Commodities', '$505,000', '$15,000', '1,560', 'Switzerland', '', '[7][8]', '$323,717,948.72']
['China National Petroleum Corporation', 'Oil and gas', '$483,019', '$21,080', '1,087,049', 'China', '', '[9]', '$444,339.68']
['China Petrochemical Corporation', 'Oil and gas', '$471,154', '$9,657', '527,487', 'China', '', '[10]', '$893,204.95']
['ExxonMobil', 'Oil and gas', '$413,680', '$55,740', '63,000', 'United States', '', '[11]', '$6,566,349.21']
['Apple', 'Information technology', '$394,328', '$99,803', '164,000', 'United States', '', '[12]', '$2,404,439.02']
['Shell', 'Oil and gas', '$386,201', '$20,120', '93,000', 'United Kingdom', '', '[13]', '$4,152,698.92']
['UnitedHealth Group', 'Healthcare', '$324,162', '$20,120', '400,000', 'United States', '', '[14]', '$810,405.00']
['CVS Health', 'Healthcare', '$322,467', '$4,149', '259,500', 'United States', '', '[15]', '$1,242,647.40']
['Trafigura', 'Commodities', '$318,476', '$6,994', '12,347', 'Singapore', '', '[16]', '$25,793,796.06']
['China State Construction Engineering', 'Construction', '$305,885', '$4,234', '382,492', 'China', '', '[17]', '$799,716.07']
['Berkshire Hathaway', 'Financials', '$302,089', '−$22,819', '383,000', 'United States', '', '[18]', '$788,744.13']
['Volkswagen Group', 'Automotive', '$293,685', '$15,233', '675,805', 'Germany', '', '[19]', '$434,570.62']
['Uniper', 'Electricity', '$288,309', '−$19,961', '7,008', 'Germany', '', '[20]', '$41,139,982.88']
['Alphabet', 'Information technology', '$282,836', '$59,972', '190,234', 'United States', '', '[21]', '$1,486,779.44']
['McKesson', 'Healthcare', '$276,711', '$3,560', '48,000', 'United States', '', '[22]', '$5,764,812.50']
['Toyota', 'Automotive', '$274,491', '$18,110', '375,235', 'Japan', '', '[23]', '$731,517.58']
['TotalEnergies', 'Oil and gas', '$263,310', '$20,526', '101,279', 'France', '', '[24]', '$2,599,847.94']
['Glencore', 'Commodities', '$255,984', '$17,320', '81,284', 'Switzerland', '', '[25]', '$3,149,254.47']
['BP', 'Oil and gas', '$248,891', '−$2,487', '67,600', 'United Kingdom', '', '[26]', '$3,681,819.53']
['Chevron', 'Oil and gas', '$246,252', '$35,465', '43,846', 'United States', '', '[27]', '$5,616,293.39']
['Cencora', 'Healthcare', '$238,587', '$1,699', '41,500', 'United States', '', '[28]', '$5,749,084.34']
['Samsung Electronics', 'Electronics', '$234,129', '$42,398', '270,372', 'South Korea', '', '[29]', '$865,951.36']
['Costco', 'Retail', '$226,954', '$5,844', '304,000', 'United States', '', '[30]', '$746,559.21']
['Foxconn', 'Electronics', '$222,535', '$4,751', '767,062', 'Taiwan', '', '[31]', '$290,113.45']
['Industrial and Commercial Bank of China', 'Financials', '$214,766', '$53,589', '427,587', 'China', '', '[32]', '$502,274.39']
['Microsoft', 'Information technology', '$211,915', '$73,307', '221,000', 'United States', '', '[33]', '$897,149.32']
['China Construction Bank', 'Financials', '$202,753', '$48,145', '376,682', 'China', '', '[34]', '$538,260.39']
['Stellantis', 'Automotive', '$188,888', '$17,669', '272,367', 'Netherlands', '', '[35]', '$693,505.45']
['Agricultural Bank of China', 'Financials', '$187,061', '$38,524', '452,258', 'China', '', '[36]', '$413,615.68']
['Ping An Insurance', 'Financials', '$181,566', '$12,454', '344,223', 'China', '', '[37]', '$527,466.21']
['Cardinal Health', 'Healthcare', '$181,364', '−$933', '46,035', 'United States', '', '[38]', '$3,939,698.06']
['Cigna', 'Healthcare', '$180,516', '$6,668', '70,231', 'United States', '', '[39]', '$2,570,317.95']
['Marathon Petroleum', 'Oil and gas', '$180,012', '$14,516', '17,800', 'United States', '', '[40]', '$10,113,033.71']
['Phillips 66', 'Oil and gas', '$175,702', '$11,024', '13,000', 'United States', '', '[41]', '$13,515,538.46']
['Sinochem', 'Chemicals', '$173,834', '–$1', '220,760', 'China', '', '[42]', '$787,434.32']
['China Railway Engineering Corporation', 'Construction', '$171,669', '$2,035', '314,792', 'China', '', '[43]', '$545,341.05']
['Valero Energy', 'Oil and gas', '$171,189', '$11,528', '9,743', 'United States', '', '[44]', '$17,570,460.84']
['Gazprom', 'Oil and gas', '$167,832', '$17,641', '468,000', 'Russia', '', '[45]', '$358,615.38']
['Cargill', 'Conglomerate', '$165,000', '...', '155,000', 'United States', '', '[46]', '$1,064,516.13']
['China National Offshore Oil Corporation', 'Oil and gas', '$164,762', '$16,988', '81,775', 'China', '', '[47]', '$2,014,821.16']
['China Railway Construction Corporation', 'Construction', '$163,037', '$1,800', '342,098', 'China', '', '[48]', '$476,579.81']
['Baowu', 'Steel', '$161,698', '$2,493', '245,675', 'China', '', '[49]', '$658,178.49']
['Schwarz Gruppe', 'Retail', '$159,800', '...', '575,000', 'Germany', '', '[50]', '$277,913.04']
['Mitsubishi Group', 'Conglomerate', '$159,371', '$8,723', '79,706', 'Japan', '', '[51]', '$1,999,485.61']
['Ford Motor Company', 'Automotive', '$158,057', '−$1,981', '173,000', 'United States', '', '[52]', '$913,624.28']
['Mercedes-Benz Group', 'Automotive', '$157,403', '$15,252', '168,797', 'Germany', '', '[53]', '$932,498.80']

In [97]:
for row in rows[2:]:
    row_data = row.find_all('td')
    row_values = [x.text.strip() for x in row_data]
    length = len(df)
    df.loc[length] = row_values

,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.,Revenue per worker
0,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,,[1],"$291,090.00"
1,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,,[4],"$8,562,911.37"
2,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,,[5],"$376,908.20"
3,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,,[6],"$609,004.85"
4,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,,[7][8],"$323,717,948.72"
5,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080","1,087,049",China,,[9],"$444,339.68"
6,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657","527,487",China,,[10],"$893,204.95"
7,ExxonMobil,Oil and gas,"$413,680","$55,740","63,000",United States,,[11],"$6,566,349.21"
8,Apple,Information technology,"$394,328","$99,803","164,000",United States,,[12],"$2,404,439.02"
9,Shell,Oil and gas,"$386,201","$20,120","93,000",United Kingdom,,[13],"$4,152,698.92"
10,UnitedHealth Group,Healthcare,"$324,162","$20,120","400,000",United States,,[14],"$810,405.00"
11,CVS Health,Healthcare,"$322,467","$4,149","259,500",United States,,[15],"$1,242,647.40"
12,Trafigura,Commodities,"$318,476","$6,994","12,347",Singapore,,[16],"$25,793,796.06"
13,China State Construction Engineering,Construction,"$305,885","$4,234","382,492",China,,[17],"$799,716.07"
14,Berkshire Hathaway,Financials,"$302,089","−$22,819","383,000",United States,,[18],"$788,744.13"
15,Volkswagen Group,Automotive,"$293,685","$15,233","675,805",Germany,,[19],"$434,570.62"
16,Uniper,Electricity,"$288,309","−$19,961","7,008",Germany,,[20],"$41,139,982.88"
17,Alphabet,Information technology,"$282,836","$59,972","190,234",United States,,[21],"$1,486,779.44"
18,McKesson,Healthcare,"$276,711","$3,560","48,000",United States,,[22],"$5,764,812.50"
19,Toyota,Automotive,"$274,491","$18,110","375,235",Japan,,[23],"$731,517.58"
20,TotalEnergies,Oil and gas,"$263,310","$20,526","101,279",France,,[24],"$2,599,847.94"
21,Glencore,Commodities,"$255,984","$17,320","81,284",Switzerland,,[25],"$3,149,254.47"
22,BP,Oil and gas,"$248,891","−$2,487","67,600",United Kingdom,,[26],"$3,681,819.53"
23,Chevron,Oil and gas,"$246,252","$35,465","43,846",United States,,[27],"$5,616,293.39"
24,Cencora,Healthcare,"$238,587","$1,699","41,500",United States,,[28],"$5,749,084.34"
25,Samsung Electronics,Electronics,"$234,129","$42,398","270,372",South Korea,,[29],"$865,951.36"
26,Costco,Retail,"$226,954","$5,844","304,000",United States,,[30],"$746,559.21"
27,Foxconn,Electronics,"$222,535","$4,751","767,062",Taiwan,,[31],"$290,113.45"
28,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589","427,587",China,,[32],"$502,274.39"
29,Microsoft,Information technology,"$211,915","$73,307","221,000",United States,,[33],"$897,149.32"
30,China Construction Bank,Financials,"$202,753","$48,145","376,682",China,,[34],"$538,260.39"
31,Stellantis,Automotive,"$188,888","$17,669","272,367",Netherlands,,[35],"$693,505.45"
32,Agricultural Bank of China,Financials,"$187,061","$38,524","452,258",China,,[36],"$413,615.68"
33,Ping An Insurance,Financials,"$181,566","$12,454","344,223",China,,[37],"$527,466.21"
34,Cardinal Health,Healthcare,"$181,364",−$933,"46,035",United States,,[38],"$3,939,698.06"
35,Cigna,Healthcare,"$180,516","$6,668","70,231",United States,,[39],"$2,570,317.95"
36,Marathon Petroleum,Oil and gas,"$180,012","$14,516","17,800",United States,,[40],"$10,113,033.71"
37,Phillips 66,Oil and gas,"$175,702","$11,024","13,000",United States,,[41],"$13,515,538.46"
38,Sinochem,Chemicals,"$173,834",–$1,"220,760",China,,[42],"$787,434.32"
39,China Railway Engineering Corporation,Construction,"$171,669","$2,035","314,792",China,,[43],"$545,341.05"
40,Valero Energy,Oil and gas,"$171,189","$11,528","9,743",United States,,[44],"$17,570,460.84"
41,Gazprom,Oil and gas,"$167,832","$17,641","468,000",Russia,,[45],"$358,615.38"
42,Cargill,Conglomerate,"$165,000",...,"155,000",United States,,[46],"$1,064,516.13"
43,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988","81,775",China,,[47],"$2,014,821.16"
44,China Railway Construction Corporation,Construction,"$163,037","$1,800","342,098",China,,[48],"$476,579.81"
45,Baowu,Steel,"$161,698","$2,493","245,675",China,,[49],"$658,178.49"
46,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany,,[50],"$277,913.04"
47,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan,,[51],"$1,999,485.61"
48,Ford Motor Company,Automotive,"$158,057","−$1,981","173,000",United States,,[52],"$913,624.28"
49,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany,,[53],"$932,498.80"

In [98]:
df.head()

,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.,Revenue per worker
0,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,,[1],"$291,090.00"
1,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,,[4],"$8,562,911.37"
2,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,,[5],"$376,908.20"
3,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,,[6],"$609,004.85"
4,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,,[7][8],"$323,717,948.72"

In [124]:
df.insert(0, 'Rank', ranks)

In [126]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.,Revenue per worker
0,1,Walmart,Retail,"$611,289","$11,680","2,100,000",United States,,[1],"$291,090.00"
1,2,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia,,[4],"$8,562,911.37"
2,3,Amazon,Retail,"$574,785","$30,425","1,525,000",United States,,[5],"$376,908.20"
3,4,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China,,[6],"$609,004.85"
4,5,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland,,[7][8],"$323,717,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080","1,087,049",China,,[9],"$444,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657","527,487",China,,[10],"$893,204.95"
7,8,ExxonMobil,Oil and gas,"$413,680","$55,740","63,000",United States,,[11],"$6,566,349.21"
8,9,Apple,Information technology,"$394,328","$99,803","164,000",United States,,[12],"$2,404,439.02"
9,10,Shell,Oil and gas,"$386,201","$20,120","93,000",United Kingdom,,[13],"$4,152,698.92"
10,11,UnitedHealth Group,Healthcare,"$324,162","$20,120","400,000",United States,,[14],"$810,405.00"
11,12,CVS Health,Healthcare,"$322,467","$4,149","259,500",United States,,[15],"$1,242,647.40"
12,13,Trafigura,Commodities,"$318,476","$6,994","12,347",Singapore,,[16],"$25,793,796.06"
13,14,China State Construction Engineering,Construction,"$305,885","$4,234","382,492",China,,[17],"$799,716.07"
14,15,Berkshire Hathaway,Financials,"$302,089","−$22,819","383,000",United States,,[18],"$788,744.13"
15,16,Volkswagen Group,Automotive,"$293,685","$15,233","675,805",Germany,,[19],"$434,570.62"
16,17,Uniper,Electricity,"$288,309","−$19,961","7,008",Germany,,[20],"$41,139,982.88"
17,18,Alphabet,Information technology,"$282,836","$59,972","190,234",United States,,[21],"$1,486,779.44"
18,19,McKesson,Healthcare,"$276,711","$3,560","48,000",United States,,[22],"$5,764,812.50"
19,20,Toyota,Automotive,"$274,491","$18,110","375,235",Japan,,[23],"$731,517.58"
20,21,TotalEnergies,Oil and gas,"$263,310","$20,526","101,279",France,,[24],"$2,599,847.94"
21,22,Glencore,Commodities,"$255,984","$17,320","81,284",Switzerland,,[25],"$3,149,254.47"
22,23,BP,Oil and gas,"$248,891","−$2,487","67,600",United Kingdom,,[26],"$3,681,819.53"
23,24,Chevron,Oil and gas,"$246,252","$35,465","43,846",United States,,[27],"$5,616,293.39"
24,25,Cencora,Healthcare,"$238,587","$1,699","41,500",United States,,[28],"$5,749,084.34"
25,26,Samsung Electronics,Electronics,"$234,129","$42,398","270,372",South Korea,,[29],"$865,951.36"
26,27,Costco,Retail,"$226,954","$5,844","304,000",United States,,[30],"$746,559.21"
27,28,Foxconn,Electronics,"$222,535","$4,751","767,062",Taiwan,,[31],"$290,113.45"
28,29,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589","427,587",China,,[32],"$502,274.39"
29,30,Microsoft,Information technology,"$211,915","$73,307","221,000",United States,,[33],"$897,149.32"
30,31,China Construction Bank,Financials,"$202,753","$48,145","376,682",China,,[34],"$538,260.39"
31,32,Stellantis,Automotive,"$188,888","$17,669","272,367",Netherlands,,[35],"$693,505.45"
32,33,Agricultural Bank of China,Financials,"$187,061","$38,524","452,258",China,,[36],"$413,615.68"
33,34,Ping An Insurance,Financials,"$181,566","$12,454","344,223",China,,[37],"$527,466.21"
34,35,Cardinal Health,Healthcare,"$181,364",−$933,"46,035",United States,,[38],"$3,939,698.06"
35,36,Cigna,Healthcare,"$180,516","$6,668","70,231",United States,,[39],"$2,570,317.95"
36,37,Marathon Petroleum,Oil and gas,"$180,012","$14,516","17,800",United States,,[40],"$10,113,033.71"
37,38,Phillips 66,Oil and gas,"$175,702","$11,024","13,000",United States,,[41],"$13,515,538.46"
38,39,Sinochem,Chemicals,"$173,834",–$1,"220,760",China,,[42],"$787,434.32"
39,40,China Railway Engineering Corporation,Construction,"$171,669","$2,035","314,792",China,,[43],"$545,341.05"
40,41,Valero Energy,Oil and gas,"$171,189","$11,528","9,743",United States,,[44],"$17,570,460.84"
41,42,Gazprom,Oil and gas,"$167,832","$17,641","468,000",Russia,,[45],"$358,615.38"
42,43,Cargill,Conglomerate,"$165,000",...,"155,000",United States,,[46],"$1,064,516.13"
43,44,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988","81,775",China,,[47],"$2,014,821.16"
44,45,China Railway Construction Corporation,Construction,"$163,037","$1,800","342,098",China,,[48],"$476,579.81"
45,46,Baowu,Steel,"$161,698","$2,493","245,675",China,,[49],"$658,178.49"
46,47,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany,,[50],"$277,913.04"
47,48,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan,,[51],"$1,999,485.61"
48,49,Ford Motor Company,Automotive,"$158,057","−$1,981","173,000",United States,,[52],"$913,624.28"
49,50,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany,,[53],"$932,498.80"